[Unit]
Description=Python Pygame Video Engine

[Service]
Type=simple
User=we
Group=we
WorkingDirectory=/home/w/Eyesy/engines/python
ExecStart=python -u main.py -aout norns
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty7

[Install]
WantedBy=multi-user.target