[Unit] 
Description=Python Pygame Video Engine

[Service]
Type=simple
Environment=DISPLAY=:1
User=we
Group=we
WorkingDirectory=/home/we/sidekick/patches/Eyesy/engines/python
ExecStart=nohup python -u main.py -aout norns

[Install] 
WantedBy=multi-user.target
